.ShortCourseb {
    color: #fff !important;
    background: #f57d02;
    border-radius: 0px;
    border: #f57d02 1px solid !important;
}

.second_box {
    margin-top: 0px;
}

.first_box {
    margin-top: 0px;
}

.PopupIma {
    width: 399px;
    height: 300px;
}

.ContactUsto {
    color: #fff !important;
    background: #f57d02;
    border-radius: 0px;
    border: #f57d02 1px solid !important;
}

.ContactUsto:hover {
    color: #fff !important;
    background: #0290f5;
    border-radius: 0px;
    border: #0290f5 1px solid !important;
}

.Username {
    margin-top: 50px;
}

.UserEmail {
    margin-top: 50px;
}

.UCourseName {
    margin-top: 50px;
}

.Addpartnerw {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #007af5 1px solid !important;
    height: 35px !important;
    padding-left: 21px !important;
}

/*.CoursDetails{
    margin-top: 88px;
    margin-bottom: -88px;
    background-color: #f57d02c7;
    padding: 20px;
}*/

.PartnerPagee {
    margin-top: 7px;
    margin-bottom: 7px;
}

.formBtnsubmit {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #f57d02 !important;
    border-color: #f57d02 !important;
}

.newimagess {
    height: 301px;
    width: 100%;
}

.formBtnsubmit:hover {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #f57d02 !important;
    border-color: #f57d02 !important;
}

.NewformBtnsubmit {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #f57d02 !important;
    border-color: #f57d02 !important;
}

.NewformBtnsubmit:hover {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #f57d02 !important;
    border-color: #f57d02 !important;
}

.Partnerwithus {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #c7cbcf 1px solid !important;
    height: 35px !important;
    padding-left: 21px !important;
}

.Partnerwithustext {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #c7cbcf 1px solid !important;
    height: 80px !important;
    padding-left: 21px !important;
}

.PartnerwithusBtn {
    color: #000 !important;
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #ffffff !important;
    border: #c7cbcf 1px solid !important;
}

.LearnSubmiView {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 0px;
    padding: 10px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
}

.LearnSubmiView:hover {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 0px;
    padding: 10px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
}

.LearnView {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 10px;
    padding: 10px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
}

.LearnView:hover {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 10px;
    padding: 10px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
}

.Learnsubmit {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 10px;
    padding: 10px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
}

.Learnsubmit:hover {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 10px;
    padding: 10px 0px 12px 0px;
    color: #fff;
    font-size: 12px;
}

.LearnwithEarn {
    margin-top: 3px;
    margin-bottom: 3px;
}

.BackgrounCl {
    padding: 30px 10px 30px 10px;
    background-color: #4ca2ed17;
}

.Learwithearn {
    border: #1a62e1d1 1px solid !important;
    border-radius: 0px !important;
    padding: 20px 17px 20px 48px !important;
    background-color: #ffff !important;
    width: 200px;
}

.LearwitOTP {
    border: #1a62e1d1 1px solid !important;
    border-radius: 0px !important;
    padding: 20px 17px 20px 21px !important;
    background-color: #ffff !important;
    width: 200px;
}

h4.DetailUnive {
    margin-top: 15px;
    font-weight: 100;
    font-size: 35px;
    padding: 8px 0px 8px 0px;
    border-bottom: dotted 1px #0290f5;
}

.UniversityLogoo {
    width: 32px;
    height: 32px;
}

.UnivDetpage {
    width: 45px;
    height: 45px;
}

.Hrdevider {
    margin-top: 12px;
    margin-bottom: 0px;
}

.Requestpros {
    border-top: dotted 1px #0290f5;
    border-radius: 0px;
    text-align: center;
    padding-top: 7px;
    color: #000;
    border: #0290f5 1px solid;
}

.ImageSizeMenu {
    width: 365px;
    height: 181px;
}

.ImageSize {
    width: 365px;
    height: 160px;
}

.ShortCoImage {
    width: 365px;
    height: 184px;
}

.UniversityLogoo {
    width: 32px;
    height: 32px;
}

.Shortcourses {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    border: 0;
    border-top: 2px solid #d9d9d9a1;
}

.LineHeight {
    line-height: 17px;
}

.CenteredShort {
    position: absolute;
    top: 54%;
    width: 30%;
    background-color: #4591df75;
    font-size: 15px;
    padding: 50px 0px 50px 0px;
    color: #fff;
    font-weight: 700;
    line-height: 17px;
    left: 78%;
    transform: translate(-50%, -50%);
}

.CenteredText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 83%;
    color: #1001f1;
    font-size: 16px;
    font-weight: 700;
    padding: 50px 0px 50px 0px;
    transform: translate(-50%, -50%);
}

.InputFormg {
    border-bottom: 1px solid #0f8de7;
    border-radius: 0px;
}

.Bpartnerwith1 {
    border: #1a62e1d1 1px solid !important;
    border-radius: 0px !important;
    padding: 20px 45px 20px 48px !important;
    background-color: #ffff !important;
    width: 391px;
}

.Bpartnerwith2 {
    border: #1a62e1d1 1px solid !important;
    border-radius: 0px !important;
    padding: 20px 54px 20px 23px !important;
    background-color: #ffff !important;
    width: 391px;
}

.PartnerWithus {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #0976f3 1px solid !important;
    height: 40px !important;
    padding-left: 21px !important;
}

.PartnerMobile {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #0976f3 1px solid !important;
    height: 40px !important;
    width: 556px;
}

.ViewDetails {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
}

.ViewDetails:hover {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
}

.SubmitOtpp {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 0px;
    padding: 10px;
    color: #fff;
}

.SubmitOtpp:hover {
    background-color: #f57d02;
    border: 1px solid #f57d02;
    border-radius: 0px;
    margin-top: 0px;
    padding: 10px;
    color: #fff;
}

.BorderRadius2 {
    border: #1a62e1d1 1px solid !important;
    border-radius: 0px !important;
    padding: 20px 54px 20px 13px !important;
    background-color: #ffff !important;
}

.BorderRadius {
    border: #1a62e1d1 1px solid !important;
    border-radius: 0px !important;
    padding: 20px 10px 20px 10px !important;
    background-color: #ffff !important;
}

.IndexMobile {
    margin-top: 10px;
}

.EveryPagepopup {
    border-radius: 50px !important;
    background-color: #a6aab3bd !important;
    float: right !important;
    opacity: 1 !important;
    color: #ffff !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    padding: 4px 10px 7px 10px !important;
}

.EveryPagepopup:hover {
    border-radius: 50px !important;
    background-color: #a6aab3bd !important;
    float: right !important;
    color: #ffff !important;
    opacity: 1 !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    padding: 4px 10px 7px 10px !important;
}

.popupClose {
    /*border-radius: 50px !important;*/
    /*background-color: #a6aab3bd !important;*/
    float: right;
    color: #000;
    font-size: 18px;
    margin-top: -36px;
    margin-right: -17px;
    padding: 3px 9px 4px 10px;
}

.popupClose:hover {
    /*border-radius: 50px !important;*/
    /*background-color: #a6aab3bd !important;*/
    float: right;
    color: #000;
    font-size: 18px;
    margin-top: -36px;
    margin-right: -17px;
    padding: 3px 9px 4px 10px;
}

.Specialization2 {
    font-size: 12px;
}

.HeaderText {
    font-size: 13px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    width: 462px;
    float: right;
    border-left-color: rgb(15 121 231);
    border-left-style: solid;
    border-left-width: 5px;
    outline: 0;
}

.EverypageCode {
    background-color: #ffffff !important;
    border-radius: 0px;
    border: #0976f3 1px solid !important;
    height: 42px;
    width: 387px;
}

.wm-latestevents-full {
    padding: 0px 0px 0px 0px;
    background-color: #f7f7f7;
}

.wm-tocolumn-spacer {
    padding: 40px 0px 70px 0px;
}

.SocialiCons {
    color: #fff;
}

.wm-top-spacer {
    padding-top: 40px;
}

.Categorystyle {
    color: #fff;
}

.CategoryNewstyle {
    width: 357px;
    height: 231px;
}

.FirstCoursev .FirstCoinfo {
    position: absolute;
    padding: 14px 10px;
    background: rgb(0 149 255 / 85%);
    color: #fff;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    height: 50px;
    transition: all .5s;
    box-shadow: 0 0 50px -20px #e58b05;
}

.FirstCoursev .FirstCoinfo .FirstCotitle {
    font-size: 16px;
    color: #fff;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: .5px;
}

.FirstCoursev .FirstCoinfo .FirstCotitle a {
    color: #fff;
}

.FirstCoursev .FirstCoinfo p {
    margin: 15px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

.FirstCoursev:hover .FirstCoinfo {
    height: calc(100% - 40px)
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #29a0ed;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2da8f9;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 23px;
    height: 2px;
    border-radius: 0px;
}

.toolltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.toolltip .topp {
    min-width: 384px;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px 20px;
    color: #fff !important;
    background-color: #0290f5;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.toolltip:hover .topp {
    display: block;
}

.toolltip .topp i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.toolltip .topp i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #9b9595;
}

.wmainontent {
    padding: 45px 0px 60px 0px;
}

.rupee {
    /*color: #ada6a6;*/
    color: #f3eaea;
}

.usd {
    /*color: #ada6a6;*/
    color: #f3eaea;
}

.faqssImages {
    height: 226px;
    width: 555px;
}

.rupeeusd {
    color: #ada6a6;
    font-size: 24px;
    font-weight: 300;
}

.FooterImages {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.hrrft3 {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.Footerheadd {
    font-size: 15px;
    margin-bottom: 5px !important;
}

.Footeritalic {
    font-size: 14px;
}

.DomestInter {
    width: 374px;
    text-align: center;
    padding: 15px 0px 15px 0px !important;
}

.DomestInter2 {
    width: 374px;
    text-align: center;
    padding: 15px 0px 15px 0px !important;
}

.Internartn>li>a {
    position: relative;
    display: block;
}

.DomesticInterna {
    margin-bottom: 40px !important;
    padding: 15px 0px 15px 0px !important;
}

.wm-our-professors figcaption .adddfff {
    border: 1px solid;
    font-size: 14px;
    left: 12%;
    opacity: 0;
    z-index: 2;
    text-transform: uppercase;
    margin: -16px 0 0 61px;
    padding: 3px 24px 5px 23px;
    position: absolute;
    top: 0%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.dfdfddf {
    width: 300px;
    height: 308px;
}

.TextTeam {
    text-align: center !important;
}

.wm-parallex-two-full {
    margin-top: 70px;
    padding: 130px 0px 110px 0px;
    background: url(https://firstvite.com/extra-images/20526623.jpg);
}

.MobileDesktop {
    display: block;
}

.UniverLogo {
    margin-top: 20px;
}

@media(max-width:992px) {
    .CategoryNewstyle {
        width: 100% !important;
        height: 111px !important;
    }
    .CoursePopur {
        width: 49% !important;
        margin-bottom: 9px !important;
        padding: 0px 0px 0px 4px !important;
    }
    .UniverLogo {
        margin-top: 15px !important;
    }
    h4.DetailUnive {
        font-size: 22px !important;
    }
    img.universityImage {
        width: 100% !important;
        height: 200px !important;
    }
    .Universitylog {
        width: 87px !important;
        height: 38px !important;
    }
    .ColumnWidth {
        margin: 2px !important;
        border: #c0d0eb 1px solid !important;
        width: 32% !important;
    }
    .Learwithearn {
        width: 338px !important;
    }
    .LearwitOTP {
        width: 338px !important;
    }
    .Toppadding {
        height: 131px !important;
        margin-top: 99px !important;
        padding-top: 1px !important;
        text-align: center;
    }
    .University45 {
        background-color: #ffffff59;
        padding-top: 14px;
        padding-bottom: 20px;
    }
    .Bpartnerwith1 {
        width: 301px !important;
    }
    .Bpartnerwith2 {
        width: 301px !important;
    }
    .EverypageCode {
        background-color: #ffffff !important;
        border-radius: 0px !important;
        border: #0976f3 1px solid !important;
        height: 42px !important;
        width: 304px !important;
    }
    .modal-content {
        position: relative;
        background-color: #fff;
        width: 380px;
        float: right;
        border-left-color: rgb(15 121 231);
        border-left-style: solid;
        border-left-width: 5px;
        outline: 0;
    }
    .wm-testimonial-slider-wrap p {
        padding: 30px 10px 30px 10px !important;
    }
    .MobileDesktop {
        display: none !important;
    }
    .DomestInter {
        width: 365px !important;
        text-align: center;
        padding: 15px 0px 15px 0px !important;
    }
    .DomestInter2 {
        width: 365px !important;
        margin-top: 7px !important;
        margin-bottom: 7px !important;
    }
    .DomesticInterna {
        margin-bottom: 15px !important;
    }
    .UniveristyName {
        color: #020202 !important;
        font-size: 15px !important;
        font-weight: 700;
        margin: 10px 0px 0px 0px;
    }
    .UniverCourseName {
        font-size: 14px !important;
        font-weight: 700;
        color: #020202 !important;
    }
    .wm-main-content {
        padding: 0px 0px 60px 0px !important;
    }
    .fgbvct {
        height: 251px !important;
    }
    .EligMinimum {
        margin-top: 0px !important;
    }
    .MargnTop {
        margin-top: 25px;
    }
    .tabsbnnav li a {
        float: left !important;
        font-size: 17px !important;
        color: #252525 !important;
        padding: 12px 91px !important;
        border: 1px solid #0c99df !important;
    }
    .FAQS {
        background-color: #0094de0f;
        padding: 0px;
    }
    .wm-caption-two,
    .wm-banner-adds,
    .wm-caption-three,
    .wm-caption-four {
        display: block !important;
    }
    .sliderImage {
        /*height: 178px !important;*/
        height: 118px !important;
    }
    .ShortcourseImg {
        width: 100% !important;
        height: 170px !important;
    }
    .FirstPagee {
        width: 100% !important;
        height: 80px !important;
    }
    .wm-linkhover,
    .wm-linkhover:before {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .wm-learn-listing figcaption {
        position: initial !important;
    }
    .wm-learn-listing figure:before {
        opacity: 0.1 !important;
    }
    .navbar-collapse {
        width: 375px !important;
    }
    .Marginnom {
        margin: 30px 0px 0px 0px;
    }
    .PddingBottom {
        padding-bottom: 40px !important;
    }
    .wm-learn-grid figure figcaption h4 {
        padding: 0px 25px 51px 25px !important;
    }
    .profescontact {
        padding: 19px 0px 76px 0px;
    }
    .Conmargi {
        margin-top: 0px;
    }
    .YourChild {
        color: #000 !important;
    }
    .Firstzvite {
        color: #fff !important;
        font-size: 18px !important;
    }
    .DataSc {
        color: #fff !important;
        font-size: 18px !important;
    }
    .OurTopPartner {
        margin-top: 30px !important;
    }
    .PopulerCourses1 {
        padding: 7px 20px 7px 33px !important;
    }
    .PopulerCourses2 {
        padding: 7px 33px 7px 33px !important;
    }
    .PopulerCourses3 {
        padding: 7px 33px 7px 33px !important;
    }
    .PopulerCourses4 {
        padding: 7px 33px 7px 33px !important;
    }
    .PopulerCourses5 {
        padding: 7px 33px 7px 33px !important;
    }
    .PopulerCourses7 {
        padding: 7px 33px 7px 33px !important;
    }
    .PopulerCourses10 {
        padding: 7px 40px 7px 33px !important;
    }
    .PopulerCourses12 {
        padding: 7px 40px 7px 33px !important;
    }
    .PopulerCourses13 {
        padding: 7px 30px 7px 33px !important;
    }
    .PopulerCourses15 {
        padding: 7px 70px 7px 33px !important;
    }
    .PopulerCourses9 {
        padding: 7px 28px 7px 33px !important;
    }
    .PopulerCourses6 {
        padding: 7px 20px 7px 33px !important;
    }
    .PopulerCourses8 {
        padding: 7px 20px 7px 33px !important;
    }
    .PopulerCourses11 {
        padding: 7px 20px 7px 33px !important;
    }
    .PopulerCourses14 {
        padding: 7px 20px 7px 33px !important;
    }
    .PopulerCourses16 {
        padding: 7px 20px 7px 33px !important;
    }
    .formCountryCode {
        width: 355px !important;
    }
    .CategoryImag {
        width: 100% !important;
        height: 100px !important;
    }
    .FigureCla {
        width: 100% !important;
    }
    .UniveImagesss {
        margin: 6px 0px 0px 0px !important;
        width: 49.5% !important;
    }
    .WmtabsTypo .wmtabcontent a {
        padding: 0px 0px 0px 0px !important;
    }
    .WmlearLnisting {
        width: 50% !important;
    }
    .wm-tocolumn-spacer {
        padding: 0px 0px 2px 0px !important;
    }
    .FirstCoursev .FirstCoinfo .FirstCotitle {
        font-size: 12px;
        color: #fff;
        line-height: 13px;
    }
    .FirstCoursev .FirstCoinfo {
        padding: 7px 2px;
        left: 20px;
        bottom: 3px !important;
        height: 44px !important;
    }
    .wm-latest-event-full {
        padding: 10px 0px 10px 0px;
    }
    .ShortNamecou {
        font-size: 12px !important;
    }
    .Paragraphvbn {
        line-height: 18px !important;
        font-size: 12px !important;
    }
    .CourseDurationc {
        font-size: 12px !important;
    }
    .ProfessorsFaculty {
        font-size: 20px !important;
        color: #ffffff !important;
        margin-bottom: 8px !important;
        padding-bottom: 14px !important;
        line-height: 1 !important;
        position: relative !important;
    }
    .Professorsspan {
        font-size: 16px !important;
        color: #ffffff !important;
        margin-bottom: 13px !important;
    }
    .ProfessorsWidth {
        width: 24% !important;
    }
    .wm-parallextwo-full {
        padding: 30px 0px 30px 0px;
        background: url(https://firstvite.com/extra-images/conservatory-bg-1.jpg);
        background-attachment: fixed;
    }
    .TeacherseImg {
        height: 80px !important;
    }
    .ProfeccersHead {
        font-size: 12px !important;
    }
    .LoanFacility {
        font-size: 14px !important;
    }
    .wm-parallex-two-full {
        padding: 20px 0px 20px 0px !important;
    }
    .CheckOurmas {
        font-size: 16px !important;
    }
    .wm-parallex-two p {
        margin-bottom: 6px !important;
    }
}

.UniveImagesss {
    margin: 10px 0px 10px 0px;
}

.FigureCla {
    width: 100%;
}

.wmtabcontent {
    float: none !important;
    padding: 0px 0px 0px 0px !important;
    width: 100% !important;
}

.Keheighlit {
    padding: 16px 8px 16px 8px;
    background-color: #0000000d;
    margin: 5px 0px 2px 0px;
    border-left: 3px solid #000;
}

.JobFor {
    margin-bottom: 0px !important;
}

.interestedYou {
    margin-bottom: 30px;
}

.firstJunior1 {
    padding: 10px 80px 10px 80px !important;
    text-align: center !important;
}

.firstJunior2 {
    padding: 10px 80px 10px 80px !important;
    text-align: center !important;
}

.firstJunior3 {
    padding: 10px 80px 10px 80px !important;
    text-align: center !important;
}

.firstJunior4 {
    padding: 10px 80px 10px 80px !important;
    text-align: center !important;
}

.firstJunior5 {
    padding: 10px 80px 10px 80px !important;
    text-align: center !important;
}

.DataSc {
    color: #f1b50a;
    font-size: 45px;
    font-weight: 900;
}

.Firstzvite {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
}

.wmlearnlisting figcaption {
    top: 35%;
}

.YourChild {
    color: #fff;
}

span.subjectDuration321 {
    margin-right: 37px;
}

.HighlightsOverview {
    padding-top: 0px;
}

.UniverCourseName {
    font-size: 46px;
    color: #020202 !important;
    font-weight: 700;
}

.UniveristyName {
    color: #020202 !important;
    font-size: 34px;
    margin: 10px 0px 0px 0px;
}

.Toppadding {
    /*height:456px;*/
    height: 555px;
    padding-top: 80px;
    text-align: center;
}

.Conmargi {
    margin-top: 28px;
}

.Constructive {
    padding: 0px 22px 0px 22px;
}

.wmapplyinfo ul li {
    padding: 46px 10px 40px 20px;
}

.University45 {
    background-color: #ffffffba;
    padding-top: 18px;
    padding-bottom: 18px;
}

.PopulerCourses1 {
    text-align: center;
    padding: 7px 20px 7px 20px;
}

.PopulerCourses2 {
    text-align: center;
    padding: 7px 33px 7px 33px;
}

.PopulerCourses3 {
    text-align: center;
    padding: 7px 33px 7px 33px;
}

.PopulerCourses4 {
    text-align: center;
    padding: 7px 33px 7px 33px;
}

.PopulerCourses8 {
    text-align: center;
}

.PopulerCourses5 {
    text-align: center;
    padding: 7px 33px 7px 33px;
}

.PopulerCourses10 {
    text-align: center;
    width: 132px;
    padding: 7px 40px 7px 40px;
}

.PopulerCourses11 {
    text-align: center;
    width: 184px;
    padding: 7px 40px 7px 40px;
}

.PopulerCourses7 {
    text-align: center;
}

.PopulerCourses14 {
    text-align: center;
}

.PopulerCourses16 {
    text-align: center;
    width: 184px;
    padding: 7px 40px 7px 40px;
}

.PopulerCourses12 {
    text-align: center;
    width: 207px;
    padding: 7px 40px 7px 40px;
}

.PopulerCourses13 {
    text-align: center;
    padding: 7px 30px 7px 30px;
}

.PopulerCourses15 {
    text-align: center;
    width: 95px;
    padding: 7px 70px 7px 69px;
}

.PopulerCourses9 {
    text-align: center;
    padding: 7px 28px 7px 28px;
}

.PopulerCourses6 {
    text-align: center;
    padding: 7px 20px 7px 19px;
}

.sliderImage {
    width: 100%;
    height: 450px;
}

.PddingBottom {
    padding-bottom: 90px;
}

.Professors2 {
    width: 364px;
    height: 186px;
}

.logoImag {
    width: 57px;
    height: 39px;
}

.CategoryImag {
    width: 357px;
    height: 156px;
}

.First123456 {
    color: #1772fb;
}

.hrrevf {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #0090f7;
}

.First4321 {
    color: #d97916;
}

.CourseImag {
    width: 850px !important;
    height: 346px;
}

.wm-main-wrapper {
    overflow: initial;
}

.IndexPagesing {
    margin-top: 9px;
    margin-bottom: 9px;
}

.IndexPage520 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.PopupIma {
    width: 399px;
    height: 274px;
}

.formCountryCode {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #0976f3 1px solid !important;
    height: 55px !important;
    width: 435px;
    padding-left: 21px !important;
}

.formControl {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #0976f3 1px solid !important;
    height: 42px !important;
}

.formMessage {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    border: #0976f3 1px solid !important;
    height: 70px !important;
}

.formControl111 {
    border-radius: 0px !important;
    border: #000 1px solid !important;
    padding: 5px 5px 5px 5px !important;
}

.flickerimg {
    width: 73px !important;
    height: 45px;
}

.seventiby {
    width: 85px !important;
    height: 54px;
    /*height:70px;*/
}

.Uniname3e {
    font-size: 14px;
}

.CourseName1 {
    font-size: 14px !important;
}

.FooterIMG {
    border-radius: 0px !important;
    height: 51px;
    width: 75px !important;
}

.TermsCondili {
    color: #000 !important;
    font-size: 14px;
}

.TermsCondi {
    color: #fff !important;
    font-size: 14px;
}

.TermsCondier {
    color: #fff !important;
    font-size: 14px;
}

.wmpartner {
    float: left;
    width: 100%;
    border-top: 1px solid #1f4c62;
    padding: 0px 0px 0px 0px;
}

.internatio {
    color: #fff !important;
    background-color: #44a0ef !important;
    border-color: #44a0ef !important;
}

.internatio:hover {
    color: #fff !important;
    background-color: #44a0ef !important;
    border-color: #44a0ef !important;
}

.MakePay1 {
    border-radius: 0px;
    color: #fff;
    background-color: #f57d02;
    border-color: #f57d02;
}

.MakePay1:hover {
    border-radius: 0px;
    color: #fff;
    background-color: #f57d02;
    border-color: #f57d02;
}

.SocialIcons {
    float: left;
    list-style: none;
    padding: 0 0 10px 10px;
    width: 20%;
}

.ShortcourseImg {
    width: 200px;
    height: 100px;
}

.TeacherseImg {
    width: 337px;
    height: 238px;
}

.QuieckProg {
    width: 337px;
    height: 297px;
}

.DigitalMarketing {
    text-align: center !important;
}

.OnlineCourses {
    margin: 1px 0px 1px 0px;
    background-color: #6462622e;
    padding: 15px 10px 5px 10px;
}

.Curriculum2wd1 {
    padding: 24px 40px 24px 40px !important;
}

.Curriculum2wd ul li {
    padding: 46px 40px 38px 40px;
}

.Curriculum2wdown {
    margin: 24px 0px 29px 0px !important;
}

.classTypeBatch {
    text-align: center !important;
}

.classTpara {
    text-align: center !important;
}

.TopRoww {
    margin-top: 20px;
}

.CourseFeesf {
    font-size: 25px;
    font-weight: 700px;
}

/*.wmrightsection {
    height: 167px !important;
}*/

.OurProfessoes {
    height: 256px;
}

.ShortRelatedes {
    width: 265px;
    height: 150px;
}

.ShortTeachers {
    width: 265px;
    height: 241px;
}

.gradienapply {
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}

.excluding {
    font-size: 12px !important;
}

.panel-heading {
    color: #fff !important;
    /*color: #333 !important;*/
    /*background-color: #16a9efb0 !important;
    border-color: #16a9efb0 !important;*/
    background-color: #0290f5 !important;
    border-color: #0290f5 !important;
    border-radius: 0px !important;
    padding: 20px !important;
}

.panel-group .panel {
    margin-bottom: 0 !important;
    border-radius: 0px !important;
}

.panel-default {
    border-color: #ebe5e5a3 !important;
}

.Namecourse {
    font-size: 25px !important;
    font-weight: 700 !important;
}

.program-card-block.active {
    display: block;
}

.program-cards-wrapper .free-flow-list {
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: -8px;
}

.programs-section .free-flow-list {
    padding-bottom: 24px;
}

@media(min-width: 992px) {
    .free-flow-list {
        overflow: visible;
    }
}

.free-flow-list {
    display: flex;
    /*overflow-x: scroll;*/
    padding-top: 0px;
    padding-bottom: 24px;
    margin-top: -11px;
}

.program-cards-wrapper .free-flow__item,
.program-cards-wrapper .free-flow__item:first-child,
.program-cards-wrapper .free-flow__item:last-child {
    padding: 16px 8px;
}

.free-flow__item:first-child {
    padding-left: 0px;
}

.free-flow__item {
    padding-left: 8px;
    padding-right: 0px;
    display: flex;
}

a {
    color: #0288d1;
    text-decoration: none;
}

.gl-card {
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 10%);
    border-radius: 8px;
}

.program-card,
.program-card__body {
    display: flex;
    flex-direction: column;
}

.Universities {
    height: 72px;
    width: 130px;
}

.UniversityNme {
    margin-top: 10px;
    margin-bottom: 0px;
}

.program-card {
    /*width: 288px;*/
    /*width: 260px;*/
    width: 280px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    height: 355px;
}

.program-card__banner {
    position: relative;
    height: 159px;
}

.prograimage {
    width: auto;
    height: 160px;
}

.fadeIn,
.fadeOut {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.partner-logo {
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    left: 16px;
    bottom: 16px;
    background-color: #fff;
}

.program-card__body {
    padding: 0px 9px 16px 9px;
    flex-grow: 1;
}

.program-card,
.program-card__body {
    display: flex;
    flex-direction: column;
}

.program-card__head {
    flex-grow: 1;
}

.program-card__foot {
    margin-top: 8px;
}

.program-detail__partner {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    color: #0041b2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}

.program-detail__name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    color: #000;
    font-weight: 600;
    margin: 0;
    line-height: 28px;
}

.program-detail__term {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .25px;
    color: rgba(0, 0, 0, .6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.program-detail__badge-wrapper {
    margin-top: 16px;
    display: flex;
}

.program-detail__bagde:only-child {
    max-width: 100%;
}

.program-detail__bagde {
    padding: 4px 8px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    background-color: #e8f0fc;
    color: #000;
    font-weight: 500;
    margin-right: 8px;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.program-cards-wrapper {
    width: 75%;
    padding-left: 6px;
    padding-right: 6px;
}

@media only screen and (min-width: 992px) {
    .program-cards-wrapper {
        display: block;
    }
}

@media(max-width:992px) {
    .program-card {
        /*width: auto !important;*/
        width: 365px !important;
    }
    .program-detail__name {
        font-size: 18px !important;
        font-weight: 700 !important;
    }
    .interestedYou {
        margin-top: 20px !important;
    }
    .ModelDial {
        margin: 90px 0px 0px -6px !important;
    }
    .Curriculum2wd ul li {
        padding: 46px 20px 36px 20px !important;
    }
    .CourseFee2 {
        margin-bottom: 10px;
    }
    .wmrightsection {
        float: initial !important;
    }
    .ShortImage {
        margin-top: 30px !important;
    }
    /*.wm-subscribe-form h2 {
        font-size: 29px !important;
    }*/
    .subscribeform {
        padding: 0px;
    }
    .subscribeform h2:before {
        position: initial !important;
    }
    .formsubscribe {
        width: 50% !important;
        margin-bottom: -57px !important;
    }
    .wm-ourhistory-full {
        padding: 20px 0px 20px 0px;
        background: url(https://firstvite.com/extra-images/our-history-1.png);
        background-size: cover;
    }
}

.program-cards-wrapper {
    display: none;
}

.programs-block {
    display: flex;
}

.tab-content {
    padding: 0px !important;
    border: none !important;
}

.Professionall {
    text-align: center;
    padding: 16px 0px 16px 0px;
}

.pttt1001 {
    padding-top: 40px;
    padding-bottom: 200px !important;
}

.ttab {
    float: left;
    width: 100%;
    height: 383px;
    margin-top: -12px;
}

.ttab button {
    display: block;
    color: black;
    padding: 12px 0px 12px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s ease-in;
    background-color: #fff;
    border-left: #0094de 5px solid;
    margin: 2px 0px 2px 0px;
}

.ttab button.active {
    background-color: rgb(0 148 222);
    border-left: #e77910 5px solid;
    color: white;
}

.ttabcontent {
    padding: 0px 0px;
}

.Newtbas {
    margin: 45px 0px 10px 0px;
}

.tabsdfdfv li {
    float: left;
    list-style: none !important;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    border: #99939342 1px solid !important;
}

.tabsdfdfv li a {
    border: 1px solid #0095FF !important;
}

.tabrsnav li a {
    float: left;
    font-size: 14px;
    color: #252525;
    padding: 3px 11px !important;
    border: 1px solid #eeeeee;
    border-bottom: none;
}

.Choosto {
    width: 368px;
    height: 213px;
}

.onlyenqiure1 {
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
}

.WelcomeFirst321 {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.ContactUst {
    width: 100%;
}

.fgbvct {
    border: #0c99df 1px solid;
    padding: 15px;
    height: 213px;
}

.Collaboration {
    border: #0c99df 1px solid;
    padding: 15px;
    height: 475px;
}

.InterviewPrepar {
    border: #0c99df 1px solid;
    padding: 15px;
    height: 250px;
}

.EligMinimum {
    margin-top: 28px;
}

.CareerImpact {
    margin-bottom: 20px;
}

.InterviewPre {
    padding-bottom: 56px;
}

.CareerImpactRow {
    padding-top: 20px;
}

.IndustryMentror {
    width: 570px;
    height: 270px;
}

.tabsbnnav li {
    float: left;
    list-style: none;
    margin-right: 0px !important;
    margin-bottom: 30px !important;
}

.tabsbnnav li a {
    float: left !important;
    font-size: 17px !important;
    color: #252525;
    padding: 12px 105px;
    border: 1px solid #0c99df !important;
}

.TopJobOpponi {
    margin-top: 1px;
}

.TopJobOpportuni {
    margin-top: 50px;
}

.Application {
    padding-bottom: 58px;
}

.ApplicationProcee {
    padding-bottom: 2px;
}

.ApplProcee {
    padding-bottom: 0px;
}

.Proceess1 {
    margin-top: 1px;
}

.FAQS {
    background-color: #0094de0f;
    padding: 50px;
}

span.subjectDuration {
    color: #fff !important;
    float: left;
    font-size: 12px !important;
    margin: 3px 0px 0px 8px;
}

.faq-wrapper .card-header {
    padding: 13px 20px 8px 20px;
    background: #0290f5;
    border: 0;
    color: #fff;
    margin: 2px 0px 2px 0px;
}

.btn-link:hover,
.btn-link:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.btn-link {
    font-weight: normal;
    color: #ffffff;
    border-radius: 0;
}

p.Subsubject123 {
    background-color: #ffffff;
    padding: 15px 20px 15px 20px;
    margin: 1px 0px -2px 0px;
    color: #444;
    font-size: 13px;
    border-top: 1px #0094de solid;
    border-bottom: 1px #0094de solid;
}

.Alldetailss {
    text-align: center !important;
    font-size: 13px;
    color: #000;
}

.Toprowmargi {
    margin-top: 50px;
}

.Classeslive {
    color: #fff;
    font-size: 14px;
}

.educatorsImgae {
    padding: 17px 0px 17px 30px;
}

.educators {
    padding: 103px 0px 103px 0px;
}

.profescontact {
    padding: 14px 0px 15px 0px;
}

.allAboutdata {
    border: #f0f0f0 1px solid;
    margin: 20px 0px 20px 0px;
}

.tacoursdeta li a {
    float: left !important;
    font-size: 14px !important;
    color: #252525 !important;
    padding: 7px 86px !important;
    border: 1px solid #eeeeee !important;
}

.tacoursdeta li {
    float: left !important;
    list-style: none !important;
    margin-right: 0px !important;
}

.forMobileHide {
    display: block;
}

@media(max-width:992px) {
    .wm-callaction-two-typo {
        padding: 15px 25px 15px 25px !important;
    }
    .wm-callaction-typo-text h2 {
        font-size: 12px !important;
    }
    .wm-simple-section-title h2 {
        font-size: 16px !important;
    }
    .Toprowmargi {
        margin-top: 30px !important;
    }
    .flickerimg {
        width: 117px !important;
        height: 60px !important;
    }
    .wm-footer-widget {
        padding: 0px 0px 0px 0px !important;
    }
    .CourseImag {
        width: 850px !important;
        height: 187px !important;
    }
    .widgetadd {
        width: 100% !important;
    }
    .wm-mini-header {
        background-image: url(https://firstvite.com/extra-images/mini-header.jpg);
        background-repeat: no-repeat;
        text-align: center;
        padding: 45px 0px 45px 0px !important;
        position: relative;
    }
    .wm-mini-title h1 {
        font-size: 21px !important;
    }
    .forMobileHide {
        display: none !important;
    }
}

.ForCallMessa {
    margin: 4px 0px 0px 0px;
    color: #fff;
}

.Mailidd {
    color: #fff;
}

.CheckMba {
    margin-top: 0px !important;
}

.OurCouses {
    height: 160px;
}

.CoursesOurPara {
    text-align: justify;
}

.CoursesOur {
    font-size: 16px;
    font-weight: 700;
}

.wm-ourhistorythree-full {
    padding: 76px 0px 64px 0px;
    background: url(https://firstvite.com/extra-images/hybrid-course-scaled.jpg);
    background-size: cover;
}

.SupplyChain {
    margin-top: 40px;
}

.wmtopstrip {
    border: orange 3px solid;
    background-color: orange !important;
}

.wmloginsection {
    float: left;
    width: 939px;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}

div.sj_category {
    width: 100%;
    overflow: hidden;
}

.module.categories-ii .modcontent ul.line {
    padding: 0;
}

.module.categories-ii .modcontent ul.line>li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 23%;
    margin: 0 0.5% 0.9%;
    padding: 2px 0px;
    background: url(../images/btn12.png);
    background-repeat: no-repeat;
}

.module.categories-ii .modcontent ul.line>li a {
    color: #fff;
    line-height: 18px;
    font-size: 12px;
    display: block;
    margin-top: 0px;
    font-weight: bold;
    text-transform: lowercase;
}

.padding-left-20 {
    padding-left: 44px;
}

.schoolbtn {
    width: -20px;
}

.formBtnclose {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #f70700 !important;
    border-color: #d43f3a !important;
}

.formBtnclose:hover {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #f70700 !important;
    border-color: #d43f3a !important;
}

.formBtnsubmit {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #fff !important;
    border-color: #3197ef !important;
}

.formBtnsubmit:hover {
    border-radius: 0px !important;
    height: 42px !important;
    background-color: #fff !important;
    border-color: #3197ef !important;
}

.Completethe {
    color: #fff;
}